.login_sec {
    margin: 0;
    padding: 0;
    align-items: center;
    background: url(../../Assets/images/login.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
    overflow: hidden;
  }
  .login_logo{
    background-color: #ffff;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin-left: 5%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  

  }
  .logo_home{
    font-size: 2.5rem;
   font-weight: bolder;
   color:var(--black);
  }

  .logo_home i{
    color:var(--peru);
   padding-right: .5rem;
  }

  .logo_home .fas.fa-paw{
    font-size: 70px;
  }
  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 340px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }
  .center h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
  }
  .center form{
    padding: 0 40px;
    box-sizing: border-box;
    height: 15rem;
  }
  form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #ffd658;
    transition: .5s
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: black;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }
  
  .login_btn {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: var(--main);
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  
  .login_btn:hover {
    border-color: var(--hover);
    transition: .5s;
  }

  .signup_link{
    font-size: 1.5rem;
  }
  .signup_link a{
    color: #2691d9;
    text-decoration: none;
    /* font-size: 10rem; */
  }
  .signup_link a:hover{
    text-decoration: underline;
  }

  @media (max-width: 600px) {
    .center {
      width: 90%;
      max-width: 350px;
      height: 350px;
    }
  }
  
  @media (max-width: 400px) {
    .center {
      width: 90%;
      max-width: 350px;
      height: 300px;
    }
  }