.gallery .gallery-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
}

.gallery .gallery-container .box{
   height: 40rem;
   position: relative;
   overflow: hidden;
   display: inline-block;
  width: calc(33.33% - 20px);
  margin: 10px;
}

.gallery .gallery-container .box img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}

@media (max-width: 768px) {
   .gallery .gallery-container{
     flex-direction: column;
     align-items: center;
   }
   
   .gallery .gallery-container .box{
     width: 100%;
   }
 }